<p><h2>Article Details</h2><br>
  <%= f.label :title%>
  <%= f.text_field :title ,class:"form-control color1"%><br />
  <%= f.label :content %>
  <%= f.text_field :content,class:"form-control color1"%><br />
</p>